<h1 style='text-align: center'>Sign On / Off Pagers</h1>
<center><%= link_to 'sign on/off multiple pagers', :action => 'multiple' %></center>
<br/>
<% if flash[:notice] or flash[:error ] %>
	<div class="notice"><%= flash[:notice ]%></div>
	<div class="error"><%= flash[:error ]%></div>
<% end %>

<%= form_for(@sign_on_off, :url => '/sign_on_off/add_pager') do |f|-%>
<%= display_errors(@sign_on_off.errors) %>

<table align="center" style="line-height: 25px">
	<tr valign="middle">
		<td style='font-size: 50px'>
			1.
		</td>
		<td width="10">&nbsp;</td>
		<td style='font-size: 20px'>
			<br/>
			<%= f.label :virtual_pager_id, "Select a Virtual Pager:" %> <br/>
			<%= f.select "virtual_pager_id", options_from_collection_for_select(VirtualPager.find(:all, :order => "name"), "id", "name"), :include_blank => true %>
		</td>
	</tr>
	<tr valign="middle">
		<td style='font-size: 50px'>
			2.
		</td>
		<td width="10">&nbsp;</td>
		<td style='font-size: 20px'>
			<br/>
			<%= f.label :pager_number, "Enter your Pager Number:"%><br/>
			<%= f.text_field :pager_number %>
		</td>
	</tr>
	<tr valign="middle">
		<td style='font-size: 50px'>
			3.
		</td>
		<td width="10">&nbsp;</td>
		<td style='font-size: 20px'>
			<br/>
			<%= f.label :sign_on_off, "What would you like to do?:"%><br/>
			<span style='font-size: 15px'>
			<%= f.radio_button(:sign_on_off, "ON") %> Sign On
			<%= f.radio_button(:sign_on_off, "OFF") %> Sign Off
			</span>
		</td>
	</tr>
	<tr valign="middle">
		<td style='font-size: 50px'>
			&nbsp;
		</td>
		<td width="10">&nbsp;</td>
		<td>
				<br/>
				<%= f.submit 'Update Virtual Pager', :disable_with => "Signing On, please wait ...", :style => "font-size: 20px" %>
		</td>
	</tr>
</table>
<br/><br/>

<% end %>