<%= form_for(@virtual_pager) do |f| %>
  <% if @virtual_pager.errors.any? %>
    <div id="error_explanation">
      <div class='error'><%= pluralize(@virtual_pager.errors.count, "error") %> prohibited this virtual pager from being saved:

      <ul>
      <% @virtual_pager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
</div>
    </div>
  <% end %>

<table cellpadding=0 cellspacing=0 style="padding: 8px; width: 400px">
	<tr>
		<td colspan=2><b>Required fields</b></td>
	</tr>
	<tr>
		<td style="padding-left: 20px;">Virtual Pager Name</td>
		<td style="padding-left: 10px;"><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td style="padding-left: 20px">Log Messages</td>
		<td style="padding-left: 10px;"><%= f.check_box :log_messages %></td>
	</tr>
	<tr>
		<td style="padding-left: 20px">Code Level Pager?</td>
		<td style="padding-left: 10px;"><%= f.check_box :code_level %></td>
	</tr>
	<tr>
		<td style="padding-left: 20px">Pager Short Code</td>
		<td style="padding-left: 10px;"><%= f.text_field :short_code %></td>
	</tr>
	<tr><td colspan=2>&nbsp;</td></tr>
	<tr>
		<td colspan=2><b>Optional Settings</b></td>
	</tr>
	
	<tr>
		<td style="padding-left: 20px">Min Required Pagers</td>
		<td style="padding-left: 10px;"><%= f.number_field :min_active, :size => 3 %></td>
	</tr>
	<tr>
		<td style="padding-left: 20px">Max Allowed Pagers</td>
		<td style="padding-left: 10px;"><%= f.number_field :max_active, :size => 3 %></td>
	</tr>
	<tr><td colspan=2>&nbsp;</td></tr>
	<tr>
		<td>&nbsp;</td>
		<td style="padding-left: 10px;"> <%= f.submit %> <%= link_to 'Cancel', virtual_pagers_path %></td>
	</tr>
</table>
<br/><br/>
<% end %>

