<div class="notice"><%= flash[:notice ]%></div>
<div class="error"><%= flash[:error ]%></div>
<h1>Manage Virtual Pagers</h1>
<%= link_to 'Create New Virtual pager', new_virtual_pager_path %>
<br/><br/>
<table border=0 cellspacing=0 cellpadding=10 style="border: 1px solid black">
  <tr style="text-align: left; background-color: #000; color: white; line-height: 10px; font-family: arial">
    <th>Name</th>
	<th>Current #</th>
    <th>Min</th>
    <th>Max</th>
    <th>Log</th>
    <th colspan=3></th>
  </tr>

<% @virtual_pagers.each do |virtual_pager| %>
	<%
	begin
		if virtual_pager.number_of_pagers_signed_on < virtual_pager.min_active
			color = '#fcc'
		else
			color = cycle('#ddd', '#fff')
		end
	rescue
		color = cycle('#ddd', '#fff')
	end
	%>
  <tr style="text-align: center; background-color: <%= color %>">
    <td style="padding-right: 15px"><%= virtual_pager.name %></td>
	<td><%= virtual_pager.number_of_pagers_signed_on %></td>
    <td><%= virtual_pager.min_active %></td>
    <td><%= virtual_pager.max_active %></td>
    <td><%= virtual_pager.log_messages %></td>
    <td colspan=3><%= link_to 'View Log', {:controller => "view_logs", :action => "index", :id => virtual_pager.id} %> | 
	<%= link_to 'Edit', edit_virtual_pager_path(virtual_pager) %> | 
    <%= link_to 'Delete', virtual_pager, :confirm => 'Are you sure?', :method => :delete, :style => 'color: red' %></td>
  </tr>
<% end %>
</table>

<br />