<% if flash[:notice] or flash[:error ] %>
	<div class="notice"><%= flash[:notice ]%></div>
	<div class="error"><%= flash[:error ]%></div>
<% end %>

<%= form_for(@routine_page, :url => '/page/send') do |f|-%>
<%= display_errors(@routine_page.errors) %>
<center><h1>Send Page</h1></center>
<table style="line-height: 25px">
	<tr valign="top">
		<td style='font-size: 50px'>
			1.
		</td>
		<td width="10">&nbsp;</td>
		<td style='font-size: 20px'>
			<%= f.label :virtual_pager_id, "Select a Pager:"%><br/>
			<%= f.select "virtual_pager_id", options_from_collection_for_select(VirtualPager.pagers, "id", "name"), :include_blank => true %>
			<br/>
			<br/>
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr valign="top">
		<td style='font-size: 50px'>
			2.
		</td>
		<td width="10">&nbsp;</td>
		<td style='font-size: 20px'>
			<%= f.label :patient_id, "Enter Patient ID:"%><br/>
			<%= f.text_field 'patient_id' %>
			<br/><br/>
		</td>
		<td>
			<div id="grayText">Patient Initials followed by last four digits of MRN. eg: SD#1029</div>
		</td>
	</tr>
	<tr valign="top">
		<td style='font-size: 50px'>
			3.
		</td>
		<td width="10">&nbsp;</td>
		<td style='font-size: 20px'>
			<%= f.label :message, "Enter your Your Message:"%><br/>
			<%= f.text_area :message, :cols => 41, :rows => 5%>
			<br/><br/>
		</td>
		<td>
			<div id="grayText">Include your name, call back number, and brief message. Limited to 200 characters.</div>
		</td>
	</tr>
	<tr valign="top">
		<td style='font-size: 50px'>
			4.
		</td>
		<td width="10">&nbsp;</td>
		<td style='font-size: 20px'>
			<%= f.label :urgency, "How Urgent is this Message?:"%><br/>
			<span style='font-size: 15px'>
			<%= f.radio_button(:urgency, "1") %> Emergent <span id="grayText">(call back immediately)</span><br/>
			<%= f.radio_button(:urgency, "2") %> Urgent <span id="grayText">(call back in 5 minutes)</span><br/>
			<%= f.radio_button(:urgency, "3") %> Routine <span id="grayText">(call back within 30 minutes)</span><br/>
			<%= f.radio_button(:urgency, "4") %> FYI <span id="grayText">(No call back necessary)</span><br/>
			</span>
		</td>
		<td>
			<div id="grayText">Specifying an urgency will allow physicians to better triage pages. 
				Please use FYI pages for med refills, non-critical lab results, etc.</div>
		</td>
	</tr>
	<tr valign="middle">
		<td style='font-size: 50px'>
			&nbsp;
		</td>
		<td width="10">&nbsp;</td>
		<td>
				<br/>
				<%= submit_tag 'Send Page', :disable_with => "Sending Page, please wait ...", :style => "font-size: 20px" %>
		</td>
	</tr>
</table>
<br/><br/>

<% end %>
