<h1>Sign in</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<table>
	<tr>
		<td><%= f.label :email %></td>
		<td><%= f.email_field :email %></td>
	</tr>
	<tr>
		<td><%= f.label :password %></td>
		<td><%= f.password_field :password %></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<% if devise_mapping.rememberable? -%>
		    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		  	<% end -%>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><%= f.submit "Sign in" %></td>
	</tr>
</table>
<% end %>

<%- # render :partial => "devise/shared/links" %>