<!DOCTYPE html>
<html>
<head>
  <title>ePageMD</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="headerDiv">
	<div style="text-align: right; margin-right: 20px; margin-top: 20px;">
	<% if user_signed_in? %>
		<%= link_to 'Send Page', '/', :class => is_active?('send_page') %>
		<%= link_to 'Sign On/Off', '/sign_on_off', :class => is_active?('sign_onto_pager') %>
	
		<%= link_to 'Code', '/code', :class => is_active?('code'), :style => 'background-color: #B00'%>
		

	<% else %>
	 			<%= link_to 'Send Page', '/', :class => is_active?('send_page') %>
				<%= link_to 'Sign On/Off', '/sign_on_off', :class => is_active?('sign_onto_pager')%>
				<%= link_to 'Code', '/code', :class => is_active?('code'), :style => 'background-color: #B00'%>
	<% end %></div>
</div>
<div id="mainContentDiv">
	<%= yield %>
</div>
<div id="footerDiv">&copy; <%= Time.now.year %> - <i>e</i>PageMD - <%= link_to('Admin', '/virtual_pagers') %>
	<% if user_signed_in? %>
		- <%= link_to('Profile', edit_user_registration_path) %>
		- <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	<% end %>
</div>

</body>
</html>
