<!DOCTYPE html>
<html>
<head>
  <title>ePageMD</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="headerDiv">
	<div style="text-align: right; margin-right: 20px; margin-top: 20px;">
	<% if user_signed_in? %>
		<%= link_to 'Send Page', '/', :class => is_active?('send_page') %>
		<%= link_to 'Sign/Off', '/sign_onto_pager', :class => is_active?('sign_onto_pager') %>
		<%= link_to 'Admin', '/virtual_pagers', :class => is_active?('virtual_pagers')%>
		<%= link_to('Profile', edit_user_registration_path, :class => is_active?('devise/registrations')) %>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

	<% else %>
	 			<%= link_to 'Send Page', '/', :class => is_active?('send_page') %>
				<%= link_to 'Sign/Off', '/sign_onto_pager', :class => is_active?('sign_onto_pager')%>
				<%= link_to('Login', new_user_session_path, :class => is_active?('devise/sessions'))%>
	<% end %></div>
</div>
<div id="mainContentDiv">
<center>
	<%= yield %>
</center>
</div>
<div id="footerDiv">&copy; <%= Time.now.year %> - <i>e</i>PageMD


</div>

</body>
</html>
